# Node
node_modules
.next
out

# System
.DS_Store

# Env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prettier
.prettierrc

# Editors
.editorconfig
.vscode
.qodo

# Database
db.json

# Others
.env
.env.test 
.notes